// Here you can add other styles


// grey #eaf9e7
//lightgreen #c0e6ba
//darkgreen #4ca771
//greenBlue #013237

.med_color1{
    background-color: #013237;
}

.med_color2{
    background-color: #4ca771;
}


.button-style1 {
    background-color: #013237;
    color:#eaf9e7
}


.button-style1:hover  {
    background-color:#eaf9e7;
    border-color: #013237;
    color : #013237
}
.button-style2 {
    background-color:#eaf9e7;
    border-color: #013237;
    color : #013237
}

.button-style2:hover  {
    background-color: #013237;
    border-color: #013237;
    color:#eaf9e7
}

.button-style3 {
    background-color:white;
    border-color: white;
    color : #013237
}

.button-style3:hover  {
    background-color:#eaf9e7;
    border-color: #013237;
    color : #013237
}


